/* Media Query for 990px and below */
@media (min-width: 990px) {
  .navbar {
    display: flex; /* Hide desktop navbar */
  }

  .hamburger {
    display: none; /* Show hamburger menu */
  }
}

@media (max-width: 990px) {
    .navbar {
      display: none; /* Hide desktop navbar */
    }
  
    .hamburger {
      display: flex; /* Show hamburger menu */
    }
  
    .mobile-navbar {
      position: fixed;
      left: 0;
      top: 55px;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: top 0.5s ease; /* Animate the dropdown */
      z-index: 999;
      overflow: scroll;
      padding-top: 20px;
    }
  
    .mobile-navbar a {
      color: white;
      text-decoration: none;
      padding: 15px;
    }
  
    .main-button {
      background-color: var(--pink-hard);
      color: var(--white);
      text-transform: uppercase;
      border: 2px solid #0000;
      border-radius: 30px;
      align-self: flex-start;
      padding: .625rem 1.25rem;
      font-family: Poppins, sans-serif;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5;
      transition: background-color .2s;
    }

    /* When menu is active (visible), slide it into view */
    .mobile-navbar.active {
      top: 55px; /* Bring the menu into the viewport */
    }
}

@media (max-width: 1290px) {
  .hero-img {
    width: 100%;
  }

  .hero-title-right,
  .text-block {
    font-size: 0.7em !important;
  }
  
}

@media (max-width: 1050px) {
  .hero-img {
    width: 100%;
  }
  
  .hero__title {
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .hero-title-right,
  .text-block {
    font-size: 0.5em !important;
  }

}


@media (max-width: 627px) {
  .hero-subtitle {
    text-align: left !important;
    margin-bottom: 2em;
  }
}

@media (max-width: 375px) {
  .hero-subtitle {
    text-align: left !important;
    margin-bottom: 5em;
  }


  .hero-title-right,
  .text-block {
    font-size: 0.3em !important;
  }

  .gp {
    width: 100%;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .h1.vacatures {
      font-size: 4rem;
  }
}