* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-1: #2c1d29;
  --bg-2: #f0007b;
  --bg-3: #fed8d4;
  --pink-hard: #f0007b;
  --pink-soft: #fed8d4;
  --white: #fff;
  --pink-soft: #db8982;
  --page-padding: 2rem 3rem;
  --offset: 0px;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #2c1d29;
}

/* Basic styling for the header */
header {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd0;
  height: 12vh;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: var(--white);
  text-transform: uppercase;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  display: flex;
  margin-left: 25px;
}

.contact {
  background-color: var(--pink-hard);
  color: var(--white);
  grid-column-gap: 8px;
  text-transform: uppercase;
  border-radius: 30px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.6rem !important;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  transition: background-color 0.2s;
  display: flex;
  margin-left: 30px !important;
}

/* Hide mobile navbar and hamburger button initially */
.mobile-navbar,
.hamburger {
  display: none;
}

/* Hamburger Menu Styling */
.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 30px;
}

.hamburger span {
  background-color: white;
  height: 4px;
  width: 100%;
  border-radius: 5px;
}

/* intro-section */
.section__hero {
  /* grid-column-gap: 80px; */
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 88vh;
  display: flex;
  overflow: hidden;
}

.intro-section * {
  line-height: 1;
}

.intro-section .flex {
  display: flex;
}

.intro-img {
  z-index: 6;
  box-sizing: border-box;
  aspect-ratio: auto;
  width: auto;
  height: 110%;
  max-height: 88vh;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.intro-subtitle {
  color: var(--pink-soft);
  text-align: right;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

/* 
*/

.intro-section {
  padding: 0 50px;
  color: #ffcad2;
  align-items: center;
}

.rotatingText {
  position: relative;
  width: 50%;
  line-height: 1;
}

.rotatingText-content {
  position: relative;
  height: 100px;
  line-height: 1;
}

.rotatingText-description {
  font-size: 8rem;
  font-weight: bold;
}

.rotatingText-adjective {
  position: absolute;
  font-size: 8rem;
  font-weight: bold;
  opacity: 0;
  width: 100%;
  transform: translateY(100%);
  transition: all 0.5s ease;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    transform: translateY(0%);
    opacity: 1;
  }
  80% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.rotatingText-adjective.active {
  transform: translateY(0%);
  opacity: 1;
  animation: slideUp 3s infinite;
}

.gp {
  width: 100%;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.hero__title {
  /* flex-flow: column; */
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
  text-decoration: none;
  display: flex;
}

.hero-title__left {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.hero-title__bodine {
  z-index: 10;
  grid-column-gap: 10px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-size: 8rem;
  text-decoration: none;
  display: flex;
  position: relative;
}

.hero-title-right.hero-heading {
  color: var(--pink-light);
}

.hero-title-right {
  color: var(--pink-light);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 100%;
  text-decoration: none;
}

.ticker-wrapper {
  height: 7rem;
  margin-top: 0.5rem;
  position: relative;
}

.hero__subtitle {
  z-index: 10;
  /* grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
  padding-left: 9px;
  padding-right: 9px;
  text-decoration: none;
  display: flex;
  position: relative; */
}

.hero-subtitle {
  color: var(--pink-light);
  text-align: right;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}


/* about */
.section__werkplezier {
  grid-row-gap: 110px;
  background-color: var(--pink-hard);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-decoration: none;
  display: flex;
}

.werkplezier-wrapper {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  flex-flow: row;
  display: flex;
}

.werkplezier-left {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  width: 50%;
  padding-right: 4rem;
  display: flex;
}

.heading-6 {
  color: var(--white);
  font-family: Poppins, sans-serif;
  font-size: 6rem;
  line-height: 1.4;
}

.text-span {
  background-color: var(--white);
  color: var(--pink-hard);
  border-radius: 6rem;
  margin-left: -3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: Poppins, sans-serif;
}

.werkplezier-left {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  width: 50%;
  padding-right: 4rem;
  display: flex;
}

@media only screen and (max-width: 1600px) and (min-width: 992px) {

  .werkplezier-right {
    width: 30%;
  }
}

.werkplezier-right {
    z-index: 99;
    cursor: pointer;
    object-fit: fill;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 24.5%;
    margin-top: 20px;
    display: flex;
    position: relative;
}

@media only screen and (max-width: 1600px) and (min-width: 992px) {

  .werkplezier-middle {
    margin-bottom: -35%;
  }
}

.werkplezier-middle {
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-bottom: -15%;
    margin-right: -10rem;
    display: flex;
    position: relative;
}

.card-image-wrapper.is-2 {
  border-radius: 2rem;
  width: 100%;
  margin-top: 16rem;
  margin-right: 2rem;
}

/* ----------------------------------------------------------------------- */

.card-image-wrapper {
  border-radius: 0.8rem;
  overflow: hidden;
}

.simpleParallax {
  width: 100%;
  height: 100%;
}

.image-8 {
  z-index: 100;
  border-radius: 2rem;
  position: relative;
}

.circle-text-wrap {
  z-index: 1;
  aspect-ratio: 1;
  background-color: var(--white);
  pointer-events: none;
  border-radius: 50%;
  width: 140px;
  min-width: 140px;
  position: absolute;
  top: 60px;
  left: -70px;
}

.unmuted {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.circle-text {
  color: var(--pink-hard);
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25;
}

.code-embed {
  object-fit: fill;
  width: 100%;
  position: static;
}

.w-embed:before, .w-embed:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-embed:after {
  clear: both;
}

audio, canvas, progress, video {
  vertical-align: baseline;
  display: inline-block;
}

/* exp */
@media screen and (min-width: 63em) {
  .content--grid,
  .content--grid .content__inner {
    grid-template-areas:
      "content-img content-title"
      "content-img content-text";
    grid-template-columns: 30% 1fr;
    justify-items: start;
  }
}
.bg-1 {
  background: var(--bg-1);
}

.bg-2 {
  background: var(--bg-2);
}

.bg-3 {
  background: var(--bg-3);
}

.content--grid,
.content--grid .content__inner {
  display: grid;
  overflow: hidden;
  grid-column-gap: 5vw;
  grid-row-gap: 2vh;
  align-content: center;
  grid-template-areas:
    "content-img"
    "content-title"
    "content-text";
  justify-items: center;
}

.content--sticky {
  height: 135vh !important;
  border-radius: 50px 50px 0 0;
  /* width: 100vw; */
  position: sticky;
  top: 0;
  --offset: 0px;
  top: var(--offset);
  height: calc(100vh - var(--offset));
}

.content {
  /* padding: var(--page-padding); */
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.card-wrapper {
  width: 100%;
  height: 100%;
  padding: 6rem 2rem;
  display: flex;
}

.card-right {
  width: 50%;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.card-image-wrapper {
  border-radius: 0.8rem;
  overflow: hidden;
}

.simpleParallax {
  width: 100%;
  height: 100%;
}

.image-3.is-3, .image-3.is-2, .image-3.is-1 {
  min-height: 70vh;
  max-height: 70vh;
}

.image-3 {
  object-fit: cover;
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
}

.card-left {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
}

.h1.is-cards {
  color: var(--white);
  font-size: 4rem;
  line-height: 1;
}

.h1.is-2 {
  color: var(--white);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

.h1.is-3 {
  color: var(--bg-1);
  font-size: 4rem;
  line-height: 1;
}

.cards-label.is-3 {
  border-color: var(--pink-hard);
  color: var(--pink-hard);
}

.paragraph.is-3 {
  color: var(--bg-1);
}

.main-button {
  background-color: var(--pink-hard);
  color: var(--white);
  text-transform: uppercase;
  border: 2px solid #0000;
  border-radius: 30px;
  align-self: flex-start;
  padding: 0.625rem 1.25rem;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  transition: background-color .2s;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.bg-3 
.main-button {
  background-color: var(--pink-hard);
  color: var(--white);
  text-transform: uppercase;
  border: 2px solid #0000;
  border-radius: 30px;
  align-self: flex-start;
  padding: 0.625rem 1.25rem;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  transition: background-color .2s;
  border-radius: 50rem !important;
}

.text-span-3, .text-span-4, .text-span-5 {
  font-weight: 700;
}

.tags-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  width: 60%;
  display: flex;
}

.cards-label {
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 2rem;
  flex: 0 auto;
  align-self: flex-start;
  padding: 0.5rem 1rem;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

.paragraph {
  color: var(--pink-light);
  width: 80%;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  line-height: 1.66rem;
}

.main-button {
  background-color: var(--pink-hard);
  color: var(--white);
  text-transform: uppercase;
  border: 2px solid #0000;
  border-radius: 30px;
  align-self: flex-start;
  padding: 0.625rem 1.25rem;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  transition: background-color .2s;
}

.section__expertises {
  grid-row-gap: 40px;
  background-color: var(--pink-hard);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

/* footer */
.footer {
  grid-row-gap: 40px;
  background-color: var(--white);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.padding-global.footer-bg {
  background-color: var(--pink-soft);
}

.padding-global {
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.container {
  width: 100%;
  max-width: none;
}

.connect__wrapper {
  grid-column-gap: 40px;
  border: 0 solid #2b1b24;
  border-bottom: 1px solid #a8645e;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.connect-container__left {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 50vw;
  margin-bottom: 100px;
  padding-top: 100px;
  text-decoration: none;
  display: flex;
}

.connect-container__right {
  grid-column-gap: 32px;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-end;
  width: 100%;
  max-width: 600px;
  text-decoration: none;
  display: flex;
}

.heading-16.footer-heading {
  color: var(--white);
}
h2 {
  color: var(--purple-dark);
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}

.footer-text.cc-footer {
  color: var(--white);
}

.footer-text {
  color: #2b1b24;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.connect-buttons {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text-span-2.footer-heading-color {
  color: var(--white);
}

.text-span-2 {
  color: var(--pink-hard);
}

.footer-text.cc-footer {
  color: var(--white);
}
.footer-text {
  color: #2b1b24;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.connect-buttons {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.main-button {
  background-color: var(--pink-hard);
  color: var(--white);
  text-transform: uppercase;
  border: 2px solid #0000;
  border-radius: 30px;
  align-self: flex-start;
  padding: 0.625rem 1.25rem;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  transition: background-color 0.2s;
}
.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.vrijstaand-1 {
  object-fit: cover;
  height: 100%;
}

footer img {
  box-sizing: border-box;
  aspect-ratio: auto;
  object-fit: cover;
  border-radius: 30px;
  width: 100%;
  max-width: 100%;
  display: inline-block;
}

.main-button.footer-button {
  border-color: var(--white);
  background-color: var(--pink-soft);
  border: 2px solid;
  border-radius: 50rem;
}

.copyright {
  grid-column-gap: 32px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  display: flex;
}

.text-10.footer-bottom-text {
  color: var(--white);
}

.text-10 {
  color: var(--purple-dark);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 150%;
  text-decoration: none;
}

.text-11.footer-bottom-text {
  color: var(--white);
}

.text-11 {
  color: var(--purple-dark);
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 150%;
  text-decoration: none;
}

.dees-link {
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
}